@font-face {
	font-family: "Pudelinka";
	src: url("Fonts/pudelinka.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background: linear-gradient(to bottom, #ffffff, #e0f7ff);
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px;
	font-family: "Pudelinka", cursive;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

@keyframes fall {
	to { transform: translateY(100vh) rotate(360deg); }
}

.snowflake {
	position: absolute;
	top: -20px;
	color: #fff;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	animation: fall 8s infinite linear;
	opacity: 0.8;
	z-index: -1;
	user-select: none;
}

#snow-container {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

p.quote {
	font-family: "Pudelinka", cursive;
}
